[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

h1 {
    text-align: center;
}


.main {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: Arial, serif;
    color: #FFFFFF;
    font-size: 20px;
    background: #404040;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: auto;
    text-align: center;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: Arial, serif;
    color: #FFFFFF;
    font-size: 20px;
    background: #808080;
    padding: 10px 20px 10px 20px;
    margin: auto;
    width: 100px;
}

.btn:hover {
    background: #FFFFFF;
    color: #000000;
    text-decoration: none;
}

.txtAns {
    color: #000000;
}