h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: Arial, serif;
    color: #FFFFFF;
    font-size: 20px;
    background: #404040;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #FFFFFF;
    color: #404040;
    text-decoration: none;
}